# You may generate the requirements.txt file via pipreqs.
# 1) Install pipreqs
#    > pip install pipreqs
# 2) Run pipreqs with the path of the project
#    > pipreqs /path/to/project

# This is generated manually. 
# Have made an assumption that newer versions are backward compatible.
pandas>=1.5.3
openpyxl>=3.1.0
pywin32>=305.1
sqlalchemy>=2.0.21
sql_metadata>=2.10.0

# To install
bash/cmd:> pip install -r requirements.txt
